<!-- 超级银行家用户管理页面 -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a>主页</a></li>
            <li><a>业务管理</a></li>
            <li class="active"><strong>积分发行查询</strong></li>
        </ol>
    </div>
</div>
<!-- 主要内容 -->
<div class="wrapper wrapper-content animated fadeIn" ng-app ng-controller="scoreAccountQueryCtrl">
    <form class="form-horizontal" id="form1">
        <div class="row">
            <div class="col-lg-12">
                <div class="">
                    <div class="panel-body ibox float-e-margins">
                        <div class="ibox-content">
                            <div class="ibox-title">
                                <h5>积分查询条件</h5>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">会员编号:</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" ng-model="info.leaguerNo">
                                </div>
                                <label class="col-sm-2 control-label">会员名称:</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" ng-model="info.leaguerName">
                                </div>
                                <label class="col-sm-2 control-label">手机号:</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" ng-model="info.mobilePhone">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">用户编号:</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" ng-model="info.originUserNo">
                                </div>
                                <label class="col-sm-2 control-label">流水批次:</label>
                                <div class="col-sm-2">
                                    <input id="d6667" class="form-control" type="datetime"  ng-model="info.scoreBatchDateStr" onchange=""  style="width:auto;display:inline-block;"
                                           onFocus="WdatePicker({skin:'whyGreen',dateFmt:'yyyyMM'})"/>

                                </div>
                                <label class="col-sm-2 control-label">积分出入账类型:</label>
                                <div class="col-sm-2">
                                    <select class="form-control" ng-model="info.accType" ng-options="x.value as x.text for x in accTypeSelect"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">来源类型:</label>
                                <div class="col-sm-2">
                                    <select class="form-control" ng-model="info.fromType" ng-options="x.value as x.text for x in fromTypeSelect"/>
                                </div>
                                <label class="col-sm-2 control-label">业务组:</label>
                                <div class="col-sm-2">
                                    <select class="form-control" ng-model="info.businessNo" ng-options="x.value as x.text for x in businessNoList"/>
                                </div>
                                <label class="col-sm-2 control-label">来源系统:</label>
                                <div class="col-sm-2">
                                    <select class="form-control" ng-model="info.fromSystem" ng-options="x.value as x.text for x in fromSystemSelect"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">来源业务单号:</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" ng-model="info.serviceOrderNo">
                                </div>
                                <label class="col-sm-2 control-label">创建时间:</label>
                                <div class="col-sm-5">
                                    <input id="d5231" class="form-control" type="datetime" ng-model="info.createTimeBegin" onchange=""  style="width:auto;display:inline-block;"
                                           onFocus="var d5232=$dp.$('d5232');WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd HH:mm:ss',onpicked:function(){d5232.focus();},maxDate:'#F{$dp.$D(\'d5232\')}'})"/>
                                    ~
                                    <input id="d5232" class="form-control" type="datetime"  ng-model="info.createTimeEnd" onchange=""  style="width:auto;display:inline-block;"
                                           onFocus="WdatePicker({skin:'whyGreen',dateFmt: 'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'d5231\')}'})"/>
                                </div>
                            </div>
                            <div class="form-group" style="margin-top: 30px">
                                <div class="col-sm-8">
                                    <label class="col-sm-2 control-label"></label>
                                    <button class="btn btn-primary6 btn-mr20" type="button" ng-click="query(1)" >查询</button>
                                    <button class="btn btn-primary3 btn-mr20" type="button" ng-click="clear()" >清空</button>
                                    <button class="btn btn-primary7 btn-mr20" type="button" ng-show="hasPermit('scoreAccountAction.importDetail')"  ng-click="exportInfo()" >导出</button>
                                    <button class="btn btn-primary5 btn-mr20" type="button" ng-show="hasPermit('scoreAccountAction.addScore')"  ng-click="addModal()" >新增</button>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body ibox float-e-margins">
                        <div class="ibox-content">
                            <div class="ibox-title">
                                <h5>积分列表</h5>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2 checkbox">总新增积分:<span ng-bind="totalInfo.addScoreNum"></span></div>
                                <div class="col-sm-2 checkbox">总使用积分:<span ng-bind="totalInfo.usedScoreNum"></span></div>
                                <div class="col-sm-2 checkbox">总过期积分:<span ng-bind="totalInfo.expScoreNum"></span></div>
                                <!--<div class="col-sm-2 checkbox">总作废积分:<span ng-bind="totalInfo.cancelScoreNum"></span></div>-->
                            </div>
                            <div class="form-group">
                                <div class="gridStyle" ui-grid="userGrid" ui-grid-selection ui-grid-pagination
                                     ui-grid-resize-columns ui-grid-pinning></div>
                                <div ng-show="loadImg" class="timg"></div>
                            </div>
                        </div>
                        <div style="height:30px"></div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div id="addInfoModal" class="modal fade form-horizontal" tabindex="4" role="dialog">
        <div class="modal-dialog" style="height:450px;width:900px">
            <div class="modal-content" >
                <form class="form-horizontal" name="horizontalCardAdd" novalidate>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            &times;</button>
                        <h3 class="modal-title">新增积分</h3>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><i class="red_req">*</i>赠送会员/用户编号:</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="leaguerNo" required ng-model="addInfo.leaguerNo" ng-change="leaguerNoChange()" >
                                <div class="req_mesg" ng-show="horizontalCardAdd.leaguerNo.$dirty && horizontalCardAdd.leaguerNo.$invalid">
                                    <span ng-show="horizontalCardAdd.leaguerNo.$error.required">赠送会员/用户编号不能为空</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><i class="red_req">*</i>会员名称:</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="leaguerName" required disabled ng-model="addInfo.leaguerName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><i class="red_req">*</i>数量:</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control"  name="accScore" required ng-model="addInfo.accScore">
                                <div class="req_mesg" ng-show="horizontalCardAdd.accScore.$dirty && horizontalCardAdd.accScore.$invalid">
                                    <span ng-show="horizontalCardAdd.accScore.$error.required">数量不能为空</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><i class="red_req">*</i>有效期:</label>
                            <div class="col-sm-5">
                                <span style="float:left; padding:7px 5PX 0 5PX;">自获得当月算起</span>
                                <input type="text" class="form-control" style="width:80px; float:left" name="rewardEffeDay" required ng-model="addInfo.rewardEffeDay">
                                <span style="float:left; padding:7px 5PX 0 5PX;">月内有效</span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="form-group control-label">
                            <label class="col-sm-1 control-label"></label>
                            <div class="col-sm-6">
                                <button class="btn btn-primary btn-mr20" ng-disabled="horizontalCardAdd.$invalid || submitting" type="button" ng-click='addInfoSubmit()' >确定</button>
                                <button class="btn btn-primary4" type="button" ng-click='hideModal()'>返回</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>