<!--head -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a>主页</a></li>
            <li><a>会员活动/积分抽奖</a></li>
            <li class="active"><strong>奖项黑名单管理详情</strong></li>
        </ol>
    </div>
</div>
<!-- 主要内容 -->
<div class="wrapper wrapper-content animated fadeIn" ng-app ng-controller="busPrizeBlacklistQueryDetailCtrl">
    <form class="form-horizontal" id="form1">
        <div class="row">
            <div class="col-lg-12">
                <div class="">
                    <div class="panel-body ibox float-e-margins">
                        <div class="ibox-content">
                            <div class="ibox-title">
                                <h5>{{title+":"}}黑名单查询</h5>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">会员编号:</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" ng-model="info.leaguerNo">
                                </div>
                                <label class="col-sm-2 control-label">用户编号:</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" ng-model="info.originUserNo">
                                </div>
                            </div>
                            <div class="form-group" style="margin-top:30px">
                                <div class="col-sm-8">
                                    <label class="col-sm-2 control-label"></label>
                                    <button class="btn btn-primary6 btn-mr20" type="button" ng-click="query()" >查询</button>
                                    <button class="btn btn-primary3 btn-mr20" type="button" ng-click="clear()" >清空</button>
                                    <a class="btn btn-primary4 btn-mr20" type="button" ng-click="goBackFun()" >返回</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body ibox float-e-margins">
                        <div class="ibox-title">
                            <div class="ibox-content">
                                <div class="ibox-title">
                                    <h5>黑名单列表</h5>
                                </div>
                                <div class="form-group">
                                    <div class="gridStyle" ui-grid="userGrid" ui-grid-selection ui-grid-pagination
                                         ui-grid-resize-columns ui-grid-pinning></div>
                                    <div ng-show="loadImg" class="timg"></div>
                                </div>
                            </div>
                        </div>
                        <div style="height:30px"></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>