<!-- head -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a>主页</a></li>
            <li><a>会员活动</a></li>
            <li class="active"><strong>后置条件修改</strong></li>
        </ol>
    </div>
</div>

<!-- content-->
<div class="wrapper wrapper-content animated fadeIn" ng-controller="cashMeetAfterConditionConfigCtrl">
    <form class="form-horizontal" id="form1" name="horizontalCard">
        <div class="form-group">
            <div class="ibox float-e-margins">
                <div class="ibox-content">

                    <div class="row">
                        <div class="ibox-title">
                            <h5>后置条件修改</h5>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><i class="red_req">*</i>活动内容:</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="activeName" required ng-model="addInfo.activeName">
                                <div class="req_mesg" ng-show="horizontalCard.activeName.$dirty && horizontalCard.activeName.$invalid">
                                    <span ng-show="horizontalCard.activeName.$error.required">活动内容不能为空</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><i class="red_req">*</i>活动说明:</label>
                            <div class="col-sm-3">
                                <textarea type="text" class="form-control" ng-model="addInfo.activeDesc" required name="activeDesc">
                                </textarea>
                                <div class="req_mesg" ng-show="horizontalCard.activeDesc.$dirty && horizontalCard.activeDesc.$invalid">
                                    <span ng-show="horizontalCard.activeDesc.$error.required">活动说明不能为空</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><i class="red_req">*</i>达标条件:</label>
                            <div class="col-sm-4">
                                A、邀请的超级推用户交易金额大于等于<input type="text" style="width: 50px;" name="userTransAmount" required ng-pattern="/^[1-9]+[0-9]*]*$/" ng-model="addInfo.userTransAmount">元，且人数大于等于<input type="text" style="width: 50px;" required ng-pattern="/^[1-9]+[0-9]*]*$/" name="userTransPersons" ng-model="addInfo.userTransPersons">人；<br />
                                <div class="req_mesg" ng-show="horizontalCard.userTransAmount.$dirty && horizontalCard.userTransAmount.$invalid">
                                    <span ng-show="horizontalCard.userTransAmount.$error.pattern">交易金额只能输入大于0的整数</span>
                                    <span ng-show="horizontalCard.userTransAmount.$error.required">交易金额不能为空</span>
                                </div>
                                <div class="req_mesg" ng-show="horizontalCard.userTransPersons.$dirty && horizontalCard.userTransPersons.$invalid">
                                    <span ng-show="horizontalCard.userTransPersons.$error.pattern">人数只能输入大于0的整数</span>
                                    <span ng-show="horizontalCard.userTransPersons.$error.required">人数不能为空</span>
                                </div>
                                B、会员积分消耗开奖次数大于等于<input type="text" style="width: 50px; margin-top:10px;" name="memberAwardNum" required ng-pattern="/^[1-9]+[0-9]*]*$/" ng-model="addInfo.memberAwardNum">次；<br />
                                <div class="req_mesg" ng-show="horizontalCard.memberAwardNum.$dirty && horizontalCard.memberAwardNum.$invalid">
                                    <span ng-show="horizontalCard.memberAwardNum.$error.pattern">消耗开奖次数只能输入大于0的整数</span>
                                    <span ng-show="horizontalCard.memberAwardNum.$error.required">消耗开奖次数不能为空</span>
                                </div>
                                C、交易收款开奖次数大于等于<input type="text" style="width: 50px; margin-top:10px;" name="transAmountNum" required ng-pattern="/^[1-9]+[0-9]*]*$/" ng-model="addInfo.transAmountNum">次；
                                <div class="req_mesg" ng-show="horizontalCard.transAmountNum.$dirty && horizontalCard.transAmountNum.$invalid">
                                    <span ng-show="horizontalCard.transAmountNum.$error.pattern">收款开奖次数只能输入大于0的整数</span>
                                    <span ng-show="horizontalCard.transAmountNum.$error.required">收款开奖次数不能为空</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><i class="red_req">*</i>奖励类型:</label>
                            <div class="col-sm-3">
                                现金返现
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><i class="red_req">*</i>策略类型:</label>
                            <div class="col-sm-2">
                                <select class="form-control" ng-model="addInfo.policyType" name="policyType" ng-change="policyTypeChange()" ng-options="x.value as x.text for x in policyTypeSelect"/>
                            </div>
                        </div>
                        <div id="awardPolicy" ng-show="policyTypeVisible1">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">奖励策略:</label>
                                <div ng-repeat="item in addInfo.policyTypeList">
                                    <div class="form-group">
                                        <label ng-if="$index != 0" class="col-sm-2 control-label"></label>
                                        <div class="col-sm-4">
                                            <input hidden ng-model="item.index" value="$index">奖励<input type="text" style="width: 50px;" ng-model="item.awardNum">&nbsp;单日数量限制<input type="text" style="width: 50px;" ng-model="item.dayNums">&nbsp;概率<input type="text" style="width: 50px;" ng-model="item.awardOdds">%&nbsp;&nbsp;<a ng-if="$index == 0" ng-click="addPolicy($event)">新增奖励</a><a ng-if="$index != 0" ng-click="deletePolicy($index)" style="color: red;">删除</a><br />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-show="policyTypeVisible2">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">奖励策略:</label>
                                <div class="col-sm-3">
                                    <input type="text" style="width: 50px;" name="sectionBegin" ng-model="addInfo.sectionBegin">-<input type="text" style="width: 50px;" name="sectionEnd" ng-model="addInfo.sectionEnd">元
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><i class="red_req">*</i>有效期类型:</label>
                            <div class="col-sm-2">
                                <select class="form-control" ng-model="addInfo.expiryDateType" name="expiryDateType" ng-options="x.value as x.text for x in expriryDateTypeSelect"/>
                            </div>
                        </div>
                        <div class="form-group" ng-show="addInfo.expiryDateType != 'activity'">
                            <label class="col-sm-2 control-label"><i class="red_req">*</i>有效期设置:</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" ng-model="addInfo.expiryNum" name="expiryNum">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><i class="red_req">*</i>单日奖励次数上限:</label>
                            <div class="col-sm-3">
                                <input type="number" class="form-control" name="expendNumber" required ng-model="addInfo.expendNumber">
                                <div class="req_mesg" ng-show="horizontalCard.expendNumber.$dirty && horizontalCard.expendNumber.$invalid">
                                    <span ng-show="horizontalCard.expendNumber.$error.required">单日奖励次数上限不能为空</span>
                                    <span ng-show="horizontalCard.expendNumber.$error.number">单日奖励次数上限只能输入数字</span>
                                </div>
                            </div>
                            <label style="margin-top:7px; color:red;">注:-1为无限次数</label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><i class="red_req">*</i>奖励总次数:</label>
                            <div class="col-sm-3">
                                <input type="number" class="form-control" name="allNum" required ng-model="addInfo.allNum">
                                <div class="req_mesg" ng-show="horizontalCard.allNum.$dirty && horizontalCard.allNum.$invalid">
                                    <span ng-show="horizontalCard.allNum.$error.number">奖励总次数只能输入数字</span>
                                    <span ng-show="horizontalCard.allNum.$error.required">奖励总次数不能为空</span>
                                </div>
                            </div>
                            <label style="margin-top:7px; color:red;">注:-1为无限次数</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 bgff">
                <div class="col-sm-12">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <button class="btn btn-primary btn-mr20" type="button" ng-click="updateAfterCondition()" ng-disabled="horizontalCard.$invalid || submitting">提交</button>
                        <a class="btn btn-primary4" ng-click="goBackFun()" >返回</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>